.imageWrapper img {
    border-radius: 50%;
}

.statusInactive {
    background-color: red;
    padding: 8px;
    border-radius: 10px;
}

.statusActive {
    background-color: green;
    padding: 8px;
    border-radius: 10px;
}

